/* styling for the index page */


/* MAIN/HERO SECTION */

main {
    width: 100%;
    height: calc(100vh - 6rem); /* fixing behind header */
    margin-top: 6rem;
    padding: 20px auto;
    background-image: url(../images/portrait.png), url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 120vh, cover;
    background-position: bottom left calc(50% + 6rem), center;
    display: flex;
    align-items: center;
}

.main-flex {
    display: flex;
    justify-content: center;
    column-gap: 35rem;
    z-index: 100;
}


main .main-intro h1 {
    font-size: 8rem;
    line-height: 106px;
}


main p {
    font-size: 1.8rem;
    max-width: 400px;
    line-height: 30px;
}

main a {
    font-size: 1.8rem;
    display: block;
    background-color: var(--site-color-01);
    padding: 1rem 2rem;
    width: fit-content;
    margin-top: 2rem;
}

main .main-quotes p {
    border-left: 0.4rem solid var(--site-color-01);
    padding-left: 2rem;
    margin: 4rem 0rem;
}

/*
main .main-intro {
     moving with position relative 
    position: relative;
    right: 20vh;

}

main .main-quotes {
    moving with position relative  
    position: relative;
    left: 24vh;
    
}
*/

main .main-quotes p:nth-child(2){
    margin-left: 10rem;
}



/* CATEGORY SECTION */

.index-category {
    width: 100%;
    padding: 6rem 0rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    flex-wrap: wrap;
}

.index-category p {
    font-size: 2.2rem;
    color: #111;
    text-align: center;
    padding-bottom: 4rem;
    text-transform: uppercase;
    flex-basis: 100%;
}

.index-category-box {
    width: 25rem;
    height: 25rem;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center; /* x - axis */
    position: relative;
}

.dark-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--site-color-01-hover);
    opacity: 0.5;
    transition: all ease-in-out 200ms;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;
}

/* replace nth child with BEM naming convention */
.index-category-box:nth-child(2) {
    background-image: url(../images/Web\ Development.jpg);

}

.index-category-box:nth-child(3) {
    background-image: url(../images/social-media-management.png);

}

.index-category-box:nth-child(4) {
    background-image: url(../images/Graphics-Design.png);

}

.index-category-box:nth-child(5) {
    background-image: url(../images/Video-Editing.png);

}

.index-category-box h3 {
    text-align: center;
    text-shadow: -0.2rem 2rem 4rem #000;
    z-index: 100;
}

/* ABOUT SECTION */


.index-about {
    width: 100%;
    padding: 6rem 0;
}


.index-about-flex {
    padding: 4rem 1rem;
    background-color: var(--site-color-02);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6rem;
}


.about-headshot img {
    width: 30rem;
    border-radius: 15rem;
}

.about-text {
    flex-basis: 65.5rem;
}

.about-text h2 {
    margin-bottom: 1rem;
}

.about-text a {
    display: block;
    text-transform: uppercase;
    width: fit-content;
    padding: 1rem 2rem;
    margin-top: 2rem;
    background-color: var(--site-color-01);
}

.about-text a:hover {
    background-color: var(--site-color-01-hover);
}

.about-skill{
    flex-basis: 35rem;
}

.about-skill-bar {
    width: calc(100% - 0.8rem);
    height: 2rem;
    border: 0.4rem solid var(--site-color-01-hover);
    border-radius: 1rem;
}


.about-skill-bar-fill {
    height: 100%;
    background-color: var(--site-color-01);
}

.html {
    width: 95%;
}

.css {
    width: 75%;
}

.js {
    width: 60%;
}

.python {
    width: 60%;
}

.c {
    width: 80%;
}

.git {
    width: 95%;
}


/* MOBILE VERSION */

@media only screen and (max-width: 600px) {
    
    main {
        align-items: flex-end;
    }
    
    main .main-intro {
        padding-bottom: 3vh;
    }

    main .main-intro h1 {
        font-size: 5rem;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 10px;   
    }
    
    main p {
        line-height: 1.75rem;
        text-align: center;
        padding: 0 20px;
        
    }
    
    main a {
       margin: 10px auto;
    }
    

    main .main-quotes {
        display: none;
    }
    

    /* CATEGORY (MediaQuery) */

    .index-category {
        padding: 4rem 0 2rem;
        row-gap: 1rem;
    }
    
    .index-category p {
        padding-bottom: 2rem;
    }
    
    .index-category-box {
        width: calc(100% - 20px);
        height: 16rem;
    }
    
    /* ABOUT (MediaQuery) */

    /* currently ignoring....
    MAYBE ITS THE WRAPPER THAT"S CAUSING TEXT TO OVERFLOW
    */ 

    .index-about-flex {
        flex-wrap: wrap;
        row-gap: 2rem;


        /* MAYBE convert flex to block ?????????? 
        display: block;
        margin: 0 auto;
        */
    }


    .about-headshot {
        width: 20%;
    }


    .about-headshot img {
        width: 100%;
    }

    .about-text {
        flex-basis: 100%;
    }

.about-text h2 {
    text-align: center;
}

.about-text p {
    text-align: center;
}

.about-text a {
    margin: 1rem auto 1rem;
}

}